/*
* IMPORT
*/

@import "util\/variables.scss";

/*
* END IMPORT
*/

/*
* PAGE STYLES
*/

.wrap-card-question{

	@for $i from 1 through length($group-colors) {
		.group-box-name:nth-child(20n+#{$i}){
			.group-icon{
				background: nth($group-colors, $i) url('../images/groups/icons/#{$i}.png') center center no-repeat;
				background-size: 60%;
			}

			.group-name{
				color: nth($group-colors, $i);
			}
		}
	}

	.time{
		position: absolute;
		right: 20px;
		bottom: 15px;
		background: $orange;
	}
}

.wrap-card-score{
	height: 335px;
	padding: 10px 30px 35px 15px;

	.groups-box{
		height: 240px;
		padding-right: 20px;
	}

	.group-box-name{
		margin-bottom: 20px;
	}

	.group-box-name:last-child{
		margin-bottom: 0;
	}

	.group-score{
		font-size: 18px;
		color: $white;
		text-align: right;
	}
}

.wrap-card-graphic{
	padding: 0;
	margin-bottom: 15px;
}

.wrap-card-send-question{
	margin-bottom: 15px;
	//padding: 0 0 0 15px;
	padding: 0;
	background: transparent;

	.card{
		margin: 0;
		padding: 0;
		background: transparent;
	}
}

.wrap-card-event-info{
	padding: 0 0 0 15px;

	.event-info{
		height: 250px;
	  overflow: auto;
	}

	.title{
		margin-bottom: 20px;
	}
}

.wrap-card-sound, .wrap-card-projector, .wrap-card-close-event{
	padding: 0;
}

.wrap-card-groups{
	height: 316px;

	.groups-box{
		height: 233px;

		.group-box{
			margin-bottom: 10px;

			.group-member-box{
				margin-bottom: 10px;
			}

			.group-box-name{
				cursor: pointer;

				.group-name{
					width: 134px;
				}
			}

			.glyphicon{
				float: right;
				margin-right: 20px;
			}
		}
	}
}

.modal-questions-body{
	label{
		font-weight: normal;
	}

	.questions-filters{
		.questions-filter{
			float: left;
			width: 50%;
			padding: 10px 0;
			font-size: 10px;
			text-align: center;

			input[type=checkbox]{
				display: none;
			}

			label{
				$dimension: 36px;

				display: inline-block;
				width: $dimension;
				height: $dimension;
				line-height: $dimension;
				margin-right: 30px;
				background-color: $lightgray;
				border-radius: 50%;
				cursor: pointer;
				transition: all .2s ease-in-out;

				&:last-child{
					margin-right: 0;
				}

				&:hover, &.current{
					color: $white;
					background-color: $lightorange;
				}
			}
		}

		.difficulty{

		}
	}

	.event-info{
		height: 300px;
		overflow: auto;
	}

	.table-info{
		width: 100%;

		.table-head-info{
			th{
				font-size: 20px;
				font-weight: normal;
				text-transform: none;
			}
		}

		.table-body-info{
			td{
				text-align: left;
				&:last-child{
					text-align: center;
				}
			}
		}
	}
}

.modal-questions-footer{
	text-align: center;
}

/*
* END PAGE STYLES
*/

