/*
* IMPORT
*/

@import "util\/variables.scss";

/*
* END IMPORT
*/

/*
* PAGE STYLES
*/

.wrap-card-question{

	.group-icon{
		background: $orange;
	}
	
	.time{
		float: right;
		margin-right: -40px;
		background: $orange;
	}
}

.wrap-card-score{
	height: 335px;
	padding: 10px 30px 35px 15px;

	.groups-box{
		height: 215px;
	}

	.group-box-name{
		margin-bottom: 20px;
	}

	.group-box-name:last-child{
		margin-bottom: 0;
	}

	.group-score{
		font-size: 18px;
		color: $white;
		text-align: right;
	}
}

.wrap-card-graphic, .wrap-card-send-question .card, .wrap-card-send-question .send-question{
	height: 100px;
}

.wrap-card-graphic{
	margin-bottom: 15px;
	background: $white url('../images/graphic.png') center center no-repeat;
}

.wrap-card-send-question{
	margin-bottom: 15px;
	padding: 0 0 0 15px;
	background: transparent;

	.card{
		margin: 0;
		padding: 0;
		background: transparent;
	}
}

.wrap-card-event-info{
	padding: 0 0 0 15px;
	
	.title{
		margin-bottom: 20px;
	}
}

.wrap-card-sound, .wrap-card-projector, .wrap-card-close-event{
  padding: 0;
}

.wrap-card-groups{
	height: 248px;

	.groups-box{
		height: 165px;

		.group-box{
			margin-bottom: 10px;

			.group-box-name{
				cursor: pointer;
			}

			.glyphicon{
				float: right;
				margin-right: 20px;
			}
		}
	}
}

/*
* END PAGE STYLES
*/

