/*
* IMPORT
*/

@import "util\\variables.scss";

/*
* END IMPORT
*/

.eventosAbertos{

    .titleColumns{
        background: $orange;
    }

    .eventos{
        .evento:nth-child(odd){
            background: white;
        }
        .evento{
            background: $lightgray;
            height: 40px;
            padding-top: 10px;

            p:first-of-type{
                width: 10%;
            }
            p{
                float: left;
                width: 18%;
                text-align: center;
            }
        }
    }
}

.todosEventos{

    .titleColumns{
        background: $lightblue;
    }

    .eventos{
        .evento:nth-child(odd){
            background: white;
        }
        .evento{
            background: $lightgray;
            height: 40px;
            padding-top: 10px;

            p:first-of-type{
                width: 10%;
            }
            p{
                float: left;
                width: 18%;
                text-align: center;
            }
        }
    }
}
