/*
* IMPORT
*/

@import "util\/variables.scss";

/*
* END IMPORT
*/

.lobby{
	
	.top{
		text-align: center;
		color: white;
		height: 200px;
		padding-top: 30px;

		> h1{
			font-weight: bold;
		}

		> p{
			font-size: 24px;
		}

		.play{
			position: absolute;
			top: 50px;
			right: 100px;

			p{
				font-size: 24px;
				color: $lightblue;
			}

			img{
				border-radius: 50%;
			    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
	}

	.groups{
		.col-md-4{
			padding-left: 8px;
			padding-right: 8px;

			.group{

				text-align: center;
			    padding: 36px;
			    padding-top: 22px;
			    border-top: 6px solid darkviolet;
			    width: 250px;
			    margin-bottom: 40px !important;
			    margin: 0 auto;
			    position: relative;
			    min-height: 360px;
			    height: 360px;

				> p:first-child{
					    height: 60px;
					    width: 60px;
					    background: darkviolet;
					    color: white;
					    font-size: 30px;
					    border-radius: 50%;
					    position: absolute;
					    top: -30px;
					    left: -30px;
					    padding: 11px;
					    text-align: center;
					    margin: 0px !important;
				}

				> p:nth-child(2){
				    font-size: 34px;
				    color: darkviolet;
				    font-weight: bold;
				    margin: 0px;
				    font-size: 24px !important;
				}

				> p:nth-child(3){
				    margin-top: -6px;
				    text-align: right;
				    font-size: 18px;
				    margin-bottom: 18px;
				}

				> p:nth-child(4){
				    font-size: 20px;
			    	margin-bottom: 15px;
				}

				.students{

				    /*padding: 20px;*/
				    text-align: center;
				    /*margin-top: 22px;*/
				    margin-bottom: 20px;
				    height: 130px;
				    overflow-y: auto;

				    /*> p{
				    	font-size: 22px;
				    	margin-bottom: 20px;
				    }*/

					.student{
					    height: 40px;
					    display: flex;
					    align-items: center;
					    margin: 10px;
					    margin-top: 0px;
				        margin-bottom: 8px;

					    img{
							height: 28px;
							float: left;
							border-radius: 50%;
							border: 1px solid black;
							margin-right: 10px;
					    }

					    p{
					    	margin: 0px;
					    	text-align: left;
					    }

					}

					.student:last-child{
						margin-bottom: 0px;
					}

				}

				div.students::-webkit-scrollbar{
					width: 2px !important;
				}

				> p:last-of-type{
					text-align: center;
				    font-size: 24px;
				    background: darkviolet;
				    color: white;
				    padding: 5px;
				    margin: 0px;
				    border-radius: 3px;
				}			

			}
		}
		

		@for $i from 1 through length($group-colors) {
			.col-md-4:nth-child(20n+#{$i}){
				.group{
					border-color: nth($group-colors, $i);

					> p:first-child{
						background: nth($group-colors, $i) url('../images/groups/icons/#{$i}.png') center center no-repeat;
				        background-size: 60%;
					}

					> p:nth-child(2){
						color: nth($group-colors, $i);
					}

					> p:last-of-type{
						background: nth($group-colors, $i);
					}

					div.students::-webkit-scrollbar-thumb{
						background-color: nth($group-colors, $i);
					}
				}
			}
		}
	}
}