.bodyLogin{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("../images/bgLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .container{
        background: white;
        width: 360px;
        height: 380px;
        // border-top: 9px solid var(--colorOne);
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.80);
    }
}

.wrapperLogin{
    height: 100%;
    width: 100%;
    // background-image: url("../images/bgLogin.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    margin-left: 0px !important;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;

    > p{
        width: 90px;
        height: 90px;
        position: absolute;
        text-align: center;
        background: var(--darkblue);
        border-radius: 50%;
        color: white;
        padding-top: 20px;
        margin-left: -114px;
        margin-top: -50px;
        font-size: 34px;
        font-weight: normal;
    }

    span{
        font-size: 12px;
        color: red;
    }

    img{
        width: 150px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .form-group{
        text-align: center;
    }

    input{
        background: var(--darkblue);
        padding: 6px 12px;
        border: none;
        color: var(--orange);
        text-align: center;
    }
    :-webkit-input-placeholder{
        color: var(--orange);
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #909;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #909;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #909;
    }

    label{
        color: var(--orange);
        font-weight: normal;
    }

    .form-actions{
        text-align: center;

        button{
            background: var(--lightblue);
        }
    }
}
