/*
* IMPORT
*/

@import "util\\variables.scss";

/*
* END IMPORT
*/

html{
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    background-image: url("../images/maze.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 2;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.navbar{
    margin-bottom: 0px !important;
    background: $lightblue;
    border: none;
    border-radius: inherit;
}

.navbar-brand{
    padding: 0px;

    > img{
        display: block;
        height: 40px;
        margin-top: 5px;
        margin-right: 60px;
    }
}

.navbar-default .navbar-nav > li > a{
    color: white;
    padding: 15px 40px;
}

.navbar-default .navbar-nav > .active > a{
    color: $lightblue;
    background: white;
}

.content{
    padding: 0px 60px;
    position: relative;
    top: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* UTILS */
.none{
    display: none;
}

.block{
    display: block;
}
