/*
* IMPORT
*/

@import "util\\variables.scss";

/*
* END IMPORT
*/

html{
  height: 100%;
  width: 100%;
}

body {
    padding: 0;
    background-image: url("../images/maze.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.navbar{
    margin-bottom: 0px !important;
    background: $lightblue;
    border: none;
    border-radius: inherit;
}

.navbar-header{
    margin-left: 0px !important;
    // margin-right: 0px !important;
}

.navbar-brand{
    padding: 0px;

    > img{
        display: block;
        height: 40px;
        margin-top: 5px;
        margin-right: 60px;
    }
}

.navbar-default .navbar-nav > li > a{
    color: white;
    padding: 15px 40px;
}

.navbar-default .navbar-nav > .active > a{
    color: $lightblue;
    background: white;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: $lightblue;
    background: white;
    opacity: 1;
}

.navbar-default .navbar-nav > li > a:hover{
    color: $lightblue;
    background: white;
    opacity: .5;
}

.navbar-collapse .navbar-nav:last-of-type{
    float: right;
    cursor: default;

    p{
        margin: 14px;
        font-size: 16px;
        color: white;
    }

    li:nth-child(2) img{
        border-radius: 50%;
    }

    li:last-of-type{
        cursor: pointer;
    }

    img{
        height: 30px;
        margin-left: 20px;
        margin-top: 10px;
    }
}

.content{
    padding: 0px 60px;
    position: relative;
    top: 50px;
    padding-top: 16px;
}

.card{
    background: white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.80);
    padding: 16px;
    margin-bottom: 16px;

    .title{
        margin-top: 0px;
        font-size: 18px;
    }

    .titleColumns{

        height: 40px;
        padding-top: 10px;
        color: white;
        font-weight: bold;

        p:first-of-type{
            width: 10%;
        }

        p{
            float: left;
            width: 18%;
            text-align: center;
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* UTILS */
.none{
  display: none;
}

.block{
  display: block;
}

/*
* BOOTSTRAP UI
*/

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/*
* END BOOTSTRAP UI
*/

/*
* GLOBAL ALERT
*/

.global-alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 0 8px -2px #000;
}

/*
* END GLOBAL ALERT
*/

/*
* GLOBAL LOADING
*/

.loader-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($green, .7);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .jumping{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.jumping
{
  position: relative;
  width: 50px;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  -ms-perspective: 200px;
  perspective: 200px;
}

.jumping:before,
.jumping:after
{
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  animation: jumping .5s infinite alternate;
  background: rgba(0,0,0,0);
}

.jumping:before
{
  left: 0;
}

.jumping:after
{
  right: 0;
  animation-delay: .15s;
}

@-webkit-keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}

@-moz-keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}

@-o-keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}

@keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}


/*
* END GLOBAL LOADING
*/
