/*
* IMPORT
*/

// Sass
@import "util\/variables.scss";

// Helper
@import "util\/helper.scss";

/*
* END IMPORT
*/

html{
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  background-image: url("../images/maze.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  height: 100%;
}

button{
  border: 0;
  padding: 0;
  &.btn:focus, &.btn:active, &.btn:active:focus{
    outline: none;
  }
  &[disabled]{
    cursor: not-allowed;
    opacity: .9;
  }
}

.input-disabled-overlay{
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
    display: none;
    // border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px !important;
    position: fixed;
    width: 100%;
    z-index: 11;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.navbar{
    margin-bottom: 0px !important;
    background: $lightblue;
    border: none;
    border-radius: inherit;
}

.navbar-header{
    margin-left: 0px !important;
    // margin-right: 0px !important;
}

.navbar-brand{
    padding: 0px;
    margin-left: 0px !important;

    > img{
        display: block;
        height: 40px;
        margin-top: 6px;
        margin-right: 60px;
    }
}

.navbar-default .navbar-nav > li > a{
    color: white;
    padding: 15px 40px;
}

.navbar-default .navbar-nav > .active > a{
    color: $lightblue !important;
    background: white !important;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: $lightblue;
    background: white;
    opacity: 1;
}

.navbar-default .navbar-nav > li > a:hover{
    color: $lightblue;
    background: white;
    opacity: .5;
}

.navbar-collapse .navbar-nav:last-of-type{
    float: right;
    cursor: default;

    p{
        margin: 14px;
        font-size: 16px;
        color: white;
    }

    li:nth-child(2) img{
        border-radius: 50%;
    }

    li:last-of-type{
        cursor: pointer;
    }

    img{
        height: 30px;
        margin-left: 20px;
        margin-top: 10px;
    }
}

.content{
    padding: 0px 30px;
    position: relative;
    top: 50px;
    padding-top: 16px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 320px) {
    .lobby .top {
        height: 330px !important;
        .play{
            position: relative !important;
            right: inherit !important;
            top: 30px !important;
        }
    }
}

@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  .navbar-default .navbar-nav > li > a{
      padding: 15px 28px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .lobby .top {
        height: 200px !important;
        .play{
            position: absolute !important;
            right: 100px !important;
            top: 30px !important;
        }
    }

  .col-md-4 {
    float: left;
    width: 50%;
  }
  .lobby .groups .col-md-4 .group{
    width: 225px !important;
  }
  .lobby .groups .col-md-4 .group > p:nth-child(2){
    /*font-size: 26px !important;*/
  }
}

@media (min-width: 992px){
  .col-md-4 {
    width: 33.33333333%;
  }
  /*.lobby .groups .col-md-4 .group{
    width: 260px !important;
  }
  .lobby .groups .col-md-4 .group > p:nth-child(2){
    font-size: 30px !important;
  }*/

  .bds{
    display: block !important;
  }
}

@media (min-width: 1200px){
  .lobby .groups .col-md-4 .group{
      width: 225px !important;
  }
  .lobby .groups .col-md-4 .group > p:nth-child(2){
    font-size: 24px !important;
  }

  .groups-to-play{
    display: block !important;
  }
}

.title-section{
  margin: 25px 0;
  font-size: 32px;
  color: $white;
}

/*
* GLOBAL SCROLL
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 187, 212, 0.7);
    // border-left: 1px dashed $darkblue;
}

::-webkit-scrollbar-track {
    background: #385965;
}

/*
* END GLOBAL SCROLL
*/

/*
* BOOTSTRAP UI
*/

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/*
* END BOOTSTRAP UI
*/

/*
* GLOBAL ALERT
*/

.global-alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 0 8px -2px #000;
  // Solução devido ao problema no angular na primeira vez não adiciona a class ng-enter
  padding-right: 35px;
  transition:0.5s linear all;
}

.global-alert.ng-enter, .global-alert.ng-leave.ng-leave-active {
  opacity: 0;
}

.global-alert.ng-enter.ng-enter-active, .global-alert.ng-leave {
  opacity: 1;
}


/*
* END GLOBAL ALERT
*/

/*
* GLOBAL LOADING
*/

.loader-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($darkblue, .7);
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .jumping{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.jumping
{
  position: relative;
  width: 50px;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  -ms-perspective: 200px;
  perspective: 200px;
}

.jumping:before,
.jumping:after
{
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  animation: jumping .5s infinite alternate;
  background: rgba(0,0,0,0);
}

.jumping:before
{
  left: 0;
}

.jumping:after
{
  right: 0;
  animation-delay: .15s;
}

@-webkit-keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}

@-moz-keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}

@-o-keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}

@keyframes jumping
{
  0%
  {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    transform: scale(1.0) translateY(0px) rotateX(0deg);

    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  100%
  {
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    transform: scale(1.2) translateY(-25px) rotateX(45deg);

    background: rgb(255,255,255);
    -webkit-box-shadow: 0 25px 40px rgb(255,255,255);
    box-shadow: 0 25px 40px rgb(255,255,255);
  }
}


/*
* END GLOBAL LOADING
*/

/*
* GLOBAL GROUP
*/

.groups-box{
  overflow: auto;
  &::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
}

.group-icon{
  $dimension: 35px;

  display: inline-block;
  width: $dimension;
  height: $dimension;
  line-height: $dimension;
  border-radius: 50%;
  color: $white;
  font-size: 16px;
  text-align: center;
}

.group-name{
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: top;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group-leader{
  color: $orange;
}

.group-box-name{
  .group-icon{
    $dimension: 30px;

    width: $dimension;
    height: $dimension;
    line-height: $dimension;
    margin-right: 15px;
  }
}

@for $i from 1 through length($group-colors) {
  .group-box:nth-child(20n+#{$i}){
    .group-box-name{
      .group-icon{
        background: nth($group-colors, $i) url('../images/groups/icons/#{$i}.png') center center no-repeat;
        background-size: 60%;
      }
      .group-name{
        color: nth($group-colors, $i);
      }
    }
  }
}

.group-members{
  $dimension: 20px;

  .group-member-box{
    width: auto;
    height: $dimension;
    margin-left: 45px;

    .group-member-icon{
      display: inline-block;
      width: 20px;
      height: $dimension;
      background: url('../images/pu.jpg');
      background-size: 20px;
      border-radius: 50%;
    }

    .group-member-name{
      display: inline-block;
      font-size: 12px;
      line-height: $dimension;
      vertical-align: top;
    }
  }
}

/*
* END GLOBAL GROUP
*/

/*
* CARDS
*/

.card{
  position: relative;
  padding: 10px 15px;
  background: white;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.80);
  padding: 16px;
  margin-bottom: 16px;

  .title-columns{

      height: 40px;
      padding-top: 10px;
      color: white;
      font-weight: bold;

      p:first-of-type{
          width: 10%;
      }

      p{
          float: left;
          width: 18%;
          text-align: center;
      }
  }

  .title{
    font-size: 24px;
    color: $darkgray;
    margin: 0 0 25px;
  }

  .fullscreen{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    border: none;
    background: transparent;
    font-weight: bold;
    color: $darkgray;
  }
}

.wrap-card-question{
  height: 220px;
  padding: 10px 55px 10px 15px;
  background: $white;
  border-top: 5px solid $orange;

  .content-question-theme{
    height: 100px;

    .content-question,
    .content-ansawer{
      &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
      }
    }

    .content-question{
      height: 70px;
      overflow: auto;
      padding-right: 10px;
    }
  }

  .question{
    font-size: 16px;
    text-align: right;
    margin: 0;

    a{
      padding: 0 0 0 10px;
      &:hover{
        color: $lightblack;
      }
    }
  }

  .theme{
    font-size: 14px;
    color: $orange;
    text-align: right;
  }

  .groups-box{
    $dimension: 35px;

    position: relative;
    width: 100%;
    height: $dimension;
    overflow: hidden;

    .group-box-name{
      position: absolute;
      left: 0;
      top: $dimension;
      transition: all .3s ease-in-out;
      z-index: 9;

      &.current{
        top: 0;
        z-index: 10;
      }

      .group-icon{
        width: $dimension;
        height: $dimension;
      }

      .group-name{
        line-height: $dimension;
      }
    }
  }

  .time{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    color: $white;
  }

  .ansawer-plain-text{
    .plain-text{
      width: 100%;
      padding: 10px;
      border: 1px solid $lightgray;
      outline: none;
      resize: vertical;
    }
  }
}

.wrap-card-score{
  background: $lightblack;

  .title{
    color: $lightgray;
  }

  .fullscreen{
    color: $lightgray;
  }
}

.wrap-card-event-time{
  padding: 10px 35px;
  background: $yellow;
  font-size: 36px;
  color: $lightblack;

  .event-time-text{
    display: inline-block;
    width: 100%;
    background: url('../images/timer.png') right center no-repeat;
  }
}

/*
* END CARDS
*/

/*
* BUTTON
*/

.btn-graphic{
  position: relative;
  width: 100%;
  padding: 50px;
  background: $white url('../images/graphic.png') center center no-repeat;

  .btn-graphic-text{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 24px;
    color: $darkgray;
  }
}

.send-question{
  position: relative;
  width: 100%;
  padding: 50px;
  font-size: 24px;
  background: $yellow url('../images/send-question.png') center 75% no-repeat;

  .send-question-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.sound{
  width: 100%;
  padding: 10px 70px;
  font-size: 36px;
  color: $white;
  text-align: left;
  background: $lightblack;

  .sound-text{
    display: inline-block;
    width: 100%;
    background-position: right center;
    background-image: url('../images/sound.png');
    background-repeat: no-repeat;
  }

  &.disabled{
    .sound-text{
      background-image: url('../images/sound.png');
    }
  }

}

.projector{
  position: relative;
  width: 100%;
  padding: 90px 0;
  font-size: 36px;
  color: $white;
  &.active{
    background: $purple url('../images/projector.png') center 25% no-repeat;

  }

  .projector-text{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
  }
}

.close-event{
  width: 100%;
  padding: 15px 25px;
  border: 0;
  font-size: 24px;
  font-weight: 300;
  color: $white;
  background: $red;
}

.btn-send-selected-question{
  border-color: $orange;
  background-color: $orange;
  &:hover, &:active, &:active:hover, &:focus, &:active:focus, &:visited, &[disabled]:hover{
    border-color: $orange;
    background-color: darken($orange, 12%);
  }
}

.btn-send-random-question{
  border-color: $darkgray;
  background-color: $darkgray;
  &:hover, &:active, &:active:hover, &:focus, &:visited, &[disabled]:hover{
    border-color: $darkgray;
    background-color: darken($darkgray, 12%);
  }
}

.btn-question-picture{
  color: $lightblack;
  outline: none;
}

/*
* END BUTTONS
*/

/*
* GLOBAL MODAL
*/

.modal-title{
  color: $darkgray;
}

/*
* END GLOBAL MODAL
*/

/*
* GLOBAL TABLE
*/

.event-info{
  width: 100%;
  &::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
}

.table-info{
  td, th{
    padding: 0 15px;
    font-size: 14px;
    text-align: center;
  }

  .group-icon{
    $dimension: 30px;

    width: $dimension;
    height: $dimension;
    line-height: $dimension;
  }

  .table-head-info{

    th{
      height: 40px;
      background: $lightblue;
      color: $white;
      text-transform: uppercase;
    }
  }

  .table-body-info{
    @for $i from 1 through length($group-colors) {
      tr:nth-child(20n+#{$i}){
        .group-icon{
          background: nth($group-colors, $i) url('../images/groups/icons/#{$i}.png') center center no-repeat;
          background-size: 60%;
        }
      }
    }

    tr{
      &:nth-child(even){
        background: #ededed;
      }
    }

    td{
      height: 50px;
      &.ok{
        color: $green;
      }
      &.wrong{
        color: $red;
      }
    }
  }
}

/*
* END GLOBAL TABLE
*/