/*
* IMPORT
*/

@import "util\/variables.scss";

/*
* END IMPORT
*/

#student{
	.student{
		padding: 0 0 20px 0;
	}

	.student{
		.logo{
			width: 210px;
			margin: 0 auto;

			img{
				display: block;
				max-width: 100%;
			}
		}

		.student-text{
			margin-top: 90px;
			font-size: 32px;
			color: $white;
			text-align: center;
		}

		.groups-box{
		    position: relative;
			display: inline-block;
		    width: 100%;
		    height: 75px;
		    margin: 15px 0 0 0;
		    overflow: hidden;

		    .group-box-name{
		    	position: absolute;
	    	    left: 50%;
	    	    top: 50px;
	    	    transform: translateX(-50%);
	    	    transition: all .3s ease-in-out;
	    	    z-index: 9;
	    	    padding: 10px 20px;
	    	    background-color: $white;
	    	    &.current{
    	    	    top: 0;
				    z-index: 10;
	    	    }

	    	    .group-name{
	    	    	display: inline;
	    	    	line-height: 55px;
	    	    }

	    	    .group-icon{
	    	    	$dimension: 50px;
	    	    	width: $dimension;
	    	    	height: $dimension;
	    	    	line-height: $dimension;
	    	    	margin: 0;
	    	    }
		    }
		}

		@for $i from 1 through length($group-colors) {
			.group-box-name:nth-child(20n+#{$i}){
				border-top: 5px solid nth($group-colors, $i);
				.group-icon{
					background: nth($group-colors, $i) url('../images/groups/icons/#{$i}.png') center center no-repeat;
					background-size: 60%;
				}

				.group-name{
					color: nth($group-colors, $i);
				}
			}
		}
	}

	#student-event-started{
		.logo{
			position: absolute;
			top: -40px;
			left: 0;
			width: 145px;
			margin: 0 15px;

			img{
				display: block;
				max-width: 100%;
			}
		}

		.wrap-card-question{
			&:first-of-type{
				margin: 100px 0 0 0;
			}
			&:last-of-type{
				height: auto;
				padding: 10px 15px;
			}
			margin: 25px 0 0 0;

			.ansawer-alternative{
				height: 100px;
				overflow: auto;
			}

			.btn-send-selected-question{
				float: right;
				margin-top: 20px;
			}
		}
	}
}