/*
* DEFINE GLOBAL VARIABLES
*/

$darkblue: #385965;
$lightblue: #00BBD4;
$orange: #D99259;
$lightgray: #B7C3C0;
$darkgray: #7C8C88;
$green: #99BD73;
$red: #C25763;
$white: #FFFFFF;
$lightblack: #454545;
$yellow: #f7db6c;

/* BOARD COLORS */

$board-yellow: #EEB553;
$board-blue: #9CBAB7;
$board-red: #EB6D4B;
$board-green: #A5B052;