/*
* DEFINE GLOBAL VARIABLES
*/

$darkblue: #385965;
$lightblue: #00BBD4;
$orange: #D99259;
$lightorange: #FFB64A;
$lightgray: #B7C3C0;
$darkgray: #7C8C88;
$green: #99BD73;
$red: #C25763;
$white: #FFFFFF;
$lightblack: #454545;
$yellow: #f7db6c;
$purple: #8165a2;

/*
* GROUPS - COLORS
*/

$group-colors: #556270 #00BBD4 #9BC53D #FC6060 #A5FFD6 #C44D58 #206E8F #8165A2 #CF734F #C7F464 #FBC82F #635E9F #9D2926 #FFA69E #D6D1B1 #87683D #DB9600 #202020 #CA3939 #4F7A2D;

/*
* END GROUPS - COLORS
*/
