<h1 class="title-section">Evento X</h1>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12 card wrap-card-question">
          <h3 class="title">Pergunta Atual</h3>
          <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
          <div class="content-question-theme">
            <div class="content-question">
              <p class="question">Qual o ingrediente secreto presente no Elemento X?</p>
            </div>
            <p class="theme">Assunto: Quimica</p>
          </div>
          <span class="group-icon">P</span>
          <span class="time">1:20</span>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-7 card wrap-card-graphic">
              <h3 class="title">Gráficos</h3>
              <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
            </div>
            <div class="col-md-5 wrap-card-send-question">
              <div class="col-md-12 card">
                <button class="send-question"><span class="send-question-text">Lançar Pergunta</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>              
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 card wrap-card-score">
            <h3 class="title">Pontuação</h3>
            <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
            <div class="groups-box">
              <div class="group-box-name">
                <div class="group-icon">T</div>
                <div class="group-name">Teste</div>
                <div class="group-score">8pts.</div>
              </div>
              <div class="group-box-name">
                <div class="group-icon">T</div>
                <div class="group-name">Teste</div>
                <div class="group-score">8pts.</div>
              </div>
              <div class="group-box-name">
                <div class="group-icon">T</div>
                <div class="group-name">Teste</div>
                <div class="group-score">8pts.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12 wrap-card-event-info">
      <div class="col-md-12 card">
        <h3 class="title">Informações do Evento</h3>
        <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
        <div class="event-info">
          <table class="table-event-info">
            <thead class="table-head-event-info">
              <tr>
                <th>GRUPO</th>
                <th>Q001</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
                <th>Q002</th>
              </tr>
            </thead>
            <tbody class="table-body-event-info">
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
              <tr>
                <td><div class="group-icon">P</div></td>
                <td class="ok"><span class="glyphicon glyphicon-ok"></span></td>
                <td class="wrong"><span class="glyphicon glyphicon-remove"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12 card wrap-card-timer">
      16:19:25
    </div>
    <div class="col-md-12 card wrap-card-sound">
      <button class="sound active">Volume</button>
    </div>
    <div class="col-md-12 card wrap-card-projector">
      <button class="projector active hide-text">Projector</button>
    </div>
    <div class="col-md-12 card wrap-card-groups">
      <script type="text/ng-template" id="group-template.html">
        <div class="group-box">
          <div class="group-box-name" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <div uib-accordion-header>
              {{heading}}
            </div>
          </div>
          <div class="group-members" uib-collapse="!isOpen" ng-transclude>
          </div>
        </div>
      </script>
      <h3 class="title">Grupos</h3>
      <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
      <div class="groups-box">
        <uib-accordion close-others="controlPanel.closeOthers">
          <uib-accordion-group ng-repeat="group in controlPanel.groups" is-open="group.open" template-url="group-template.html">
            <uib-accordion-heading>
              <div class="group-icon">T</div>
              <div class="group-name">Teste</div>
              <i class="pull-right glyphicon" ng-class="{'glyphicon-plus': !controlPanel.groups[$index].open, 'glyphicon-minus': controlPanel.groups[$index].open}"></i>
            </uib-accordion-heading>
            <div class="group-member-box">
              <div class="group-member-icon"></div>
              <div class="group-member-name">
                Edgar Maia
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
    <div class="col-md-12 card wrap-card-close-event">
      <button class="close-event">Encerrar Evento</button>
    </div>
  </div>
</div>