<h1 class="title-section">Evento X</h1>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12 card card-question">
          <h3 class="title">Pergunta Atual</h3>
          <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
          <p class="question">Qual o ingrediente secreto presente no Elemento X?</p>
          <p class="theme">Assunto: Quimica</p>
          <span class="group-icon">P</span>
          <span class="time">1:20</span>
        </div>
      </div>              
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 card card-score">
            <h3 class="title">Pontuação</h3>
            <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12 card">
    </div>
  </div>
</div>