<div class="card open-events">
	<h3 class="title">Evento Atual</h3>

	<div ng-show="home.disableButtons == true">
		<div class="title-columns">
			<p>CÓDIGO</p>
			<p>Nome</p>
			<p>INICIO</p>
			<p>STATUS</p>
			<!-- <p>QTD GRUPOS</p> -->
			<p>DETALHES</p>
		</div>

		<div class="events">
			<div class="event">
				<p>{{home.activeEvent.identificador}}</p>
				<p>{{home.activeEvent.descricao}}</p>
				<p>{{home.activeEvent.inicio}}</p>
				<p>{{home.activeEvent.codStatus}}</p>
				<div class="btns">
					<a href="#/lobby/{{home.activeEvent.codEvento}}" ng-click="home.openConnectionSignlR()" class="list-button green enabled" ng-if="home.activeEvent.codStatus == 'ABERTO'">Iniciar</a>
					<a href="#/control-panel/{{home.activeEvent.codEvento}}" class="list-button green enabled" ng-if="home.activeEvent.codStatus == 'EXECUTANDO'">Ver</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="none-event" ng-show="home.disableButtons == false">
		<p>Nenhum evento aberto ou em andamento</p>
	</div>
</div>

<div class="card all-events">
	<h3 class="title">Eventos</h3>

	<div ng-show="home.events.length > 0">
		<div class="title-columns">
			<p>CÓDIGO</p>
			<p>NOME</p>
			<p>INICIO</p>
			<p>STATUS</p>
			<!-- <p>QTD GRUPOS</p> -->
			<p>DETALHES</p>
		</div>

		<div class="events" ng-class="{'fix-heigth': events.length >= 10}">
			<div class="event" ng-repeat="event in home.events.slice(((home.currentPage-1)*home.itemsPerPage), ((home.currentPage)*home.itemsPerPage))">
				<p>{{event.identificador}}</p>
				<p>{{event.descricao}}</p>
				<p>{{event.inicio}}</p>
				<p>{{event.codStatus}}</p>
				<!-- <p>4</p> -->
				<div class="btns">
					<a href="#" class="list-button green" ng-if="event.codStatus == 'ABERTO'" ng-disabled="home.disableButtons" ng-click="$event.preventDefault()">Iniciar</a>
					<a href="#" class="list-button green" ng-if="event.codStatus == 'EXECUTANDO'" ng-disabled="home.disableButtons" ng-click="$event.preventDefault()">Ver</a>
					<a href="#" class="list-button green" ng-if="event.codStatus == 'CRIADO'" ng-class="{disabled: home.disableButtons}" ng-click="home.checkBtn($event);$event.preventDefault();" ng-disabled="home.disableButtons">Abrir</a>
					<a href="#/control-panel/{{event.codEvento}}" class="list-button gray enabled" ng-if="event.codStatus == 'FECHADO'">Ver</a>
				</div>
			</div>
		</div>
	</div>

	<div class="none-event" ng-show="home.events.length == 0">
		<p>Nenhum evento para ser exibido</p>
	</div>

	<div class="pag" ng-show="home.numPages.length > 0">
		<uib-pagination total-items="home.totalItems"
					ng-model="home.currentPage"
					ng-change="home.pageChanged()"
					max-size="home.maxSize"
					boundary-links="true"
					boundary-link-numbers="true"
					class="pagination-sm"
					items-per-page="home.itemsPerPage"
					previous-text="&lsaquo;"
					next-text="&rsaquo;"
					first-text="&laquo;"
					last-text="&raquo;"
					direction-links="true">
		</uib-pagination>		
	</div>

</div>
