<div class="card eventosAbertos">
	<h3 class="title">Evento Atual</h3>
	<div class="titleColumns">
		<p>ID</p>
		<p>DATA</p>
		<p>STATUS</p>
		<p>DURAÇÃO</p>
		<p>QTD GRUPOS</p>
		<p>DETALHES</p>
	</div>

	<div class="eventos">
		<div class="evento" ng-repeat="event in home.events | limitTo: 1">
			<p>{{event.codEvento}}</p>
			<p>{{event.data}}</p>
			<p>{{event.codStatus}}</p>
			<p>3:00</p>
			<p>4</p>
			<p>+</p>
		</div>
	</div>
</div>

<div class="card todosEventos">
	<h3 class="title">Eventos</h3>
	<div class="titleColumns">
		<p>ID</p>
		<p>DATA</p>
		<p>STATUS</p>
		<p>DURAÇÃO</p>
		<p>QTD GRUPOS</p>
		<p>DETALHES</p>
	</div>

	<div class="eventos">
		<div class="evento" ng-repeat="event in home.events">
			<p>{{event.codEvento}}</p>
			<p>{{event.data}}</p>
			<p>{{event.codStatus}}</p>
			<p>3:00</p>
			<p>4</p>
			<p>+</p>
		</div>
	</div>
</div>
