<div class="lobby">
	<div class="lobby-header">
		<h1>{{lobby.event.descricao}}</h1>
		<p>Formação de Grupos</p>
		<a href="#" class="play" ng-click="lobby.initEvent(selectedEvent);$event.preventDefault()">
			<img src="images/play.png" alt="Jogar">
			<p>JOGAR</p>
		</a>
	</div>
	<div class="groups">
		<div class="col-md-4" ng-repeat="group in lobby.groups">
			<div class="card group">
				<p></p>
				<p title="{{group.Grupo.nmGrupo}}" ng-class="{online: group.Grupo.finalizado}">{{group.Grupo.nmGrupo}}</p>
				<p>Formação</p>
				<p>Alunos: {{group.ParticipantesGrupo.length}}</p>
				<div class="students">
					<div class="student" ng-repeat="student in group.ParticipantesGrupo" ng-class="{online: student.online}">
						<img src="images/pu.jpg" alt="Professor Utonio">
						<p title="{{student.nmParticipante}}">{{student.nmParticipante}}</p>				
					</div>
				</div>
				<p title="{{group.Assunto.descricao}}">{{group.Assunto.descricao}}</p>
			</div>			
		</div>
	</div>
</div>