<div class="lobby">
	<div class="top">
		<h1>Evento X</h1>
		<p>Formação de Grupos</p>
		<div class="play">
			<img src="../images/pu.jpg" alt="Professor Utonio">
			<p>INICIAR</p>
		</div>
	</div>
	<div class="groups">
		<div class="col-md-4">
			<div class="card group">
				<p></p>
				<p>POWERFULL</p>
				<p>Formação</p>
				<p>students: 4</p>
				<div class="students">
					<div class="student">
						<img src="../images/pu.jpg" alt="Professor Utonio">
						<p>aluno1</p>				
					</div>
					<div class="student">
						<img src="../images/pu.jpg" alt="Professor Utonio">
						<p>aluno2</p>				
					</div>
					<div class="student">
						<img src="../images/pu.jpg" alt="Professor Utonio">
						<p>aluno3</p>				
					</div>
					<div class="student">
						<img src="../images/pu.jpg" alt="Professor Utonio">
						<p>aluno4</p>				
					</div>
				</div>
				<p>Assunto</p>
			</div>			
		</div>
	</div>
</div>