<div class="svg">
	<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 750 750" viewBox="0 0 750 750" x="0px" y="0px" xmlns:xml="http://www.w3.org/XML/1998/namespace" xml:space="preserve" version="1.1">
			<filter id="blur-filter" x="-2" y="-2" width="400" height="400">
				<feGaussianBlur in="SourceGraphic" stdDeviation="30" />
		    </filter>
		    <filter id="no-filter" x="-2" y="-2" width="400" height="400">
				<feGaussianBlur in="SourceGraphic" stdDeviation="00" />
		    </filter>
		<g id="first-layer" class="">
			<path class="glow" fill="#eeb553" d="M 49.6 363.3 c 0 0 -3 -115.7 91 -214.3 l 30 29.3 c 0 0 -76 74 -78.7 185 H 70.6 Z" />
			<path class="color first-one" fill="#eeb553" d="M 49.6 363.3 c 0 0 -3 -115.7 91 -214.3 l 30 29.3 c 0 0 -76 74 -78.7 185 H 70.6 Z" />
			<path class="glow" fill="#eeb553" d="M 178 171.6 l -30.7 -30 c 0 0 82 -86.7 215.3 -91.3 v 42 C 362.6 92.3 259.3 90.9 178 171.6 Z" />
			<path class="color first-two" fill="#eeb553" d="M 178 171.6 l -30.7 -30 c 0 0 82 -86.7 215.3 -91.3 v 42 C 362.6 92.3 259.3 90.9 178 171.6 Z" />
			<path class="glow" fill="#9cbab7" d="M 386.6 51.5 c 0 0 115.8 -3 214.5 91 l -29.4 30 c 0 0 -74.1 -76 -185.1 -78.7 V 51.5 Z" />
			<path class="color first-three" fill="#9cbab7" d="M 386.6 51.5 c 0 0 115.8 -3 214.5 91 l -29.4 30 c 0 0 -74.1 -76 -185.1 -78.7 V 51.5 Z" />
			<path class="glow" fill="#9cbab7" d="M 578.5 179.7 l 30 -30.7 c 0 0 86.7 82.3 91.3 215.3 h -42 C 657.9 364.3 659.2 261.1 578.5 179.7 Z" />
			<path class="color first-four" fill="#9cbab7" d="M 578.5 179.7 l 30 -30.7 c 0 0 86.7 82.3 91.3 215.3 h -42 C 657.9 364.3 659.2 261.1 578.5 179.7 Z" />
			<path class="glow" fill="#eb6d4b" d="M 699.7 387.3 c 0 0 3 115.9 -91 214.5 l -30 -29.4 c 0 0 76 -74.1 78.7 -185.1 H 699.7 Z" />
			<path class="color first-five" fill="#eb6d4b" d="M 699.7 387.3 c 0 0 3 115.9 -91 214.5 l -30 -29.4 c 0 0 76 -74.1 78.7 -185.1 H 699.7 Z" />
			<path class="glow" fill="#eb6d4b" d="M 571.4 579.3 l 30.6 30 c 0 0 -81.4 86.7 -215.4 91.3 v -42 C 386.6 658.6 490 660 571.4 579.3 Z" />
			<path class="color first-six" fill="#eb6d4b" d="M 571.4 579.3 l 30.6 30 c 0 0 -81.4 86.7 -215.4 91.3 v -42 C 386.6 658.6 490 660 571.4 579.3 Z" />
			<path class="glow" fill="#a5b052" d="M 362.6 700.5 c 0 0 -115.8 3 -214.5 -91 l 29.4 -30 c 0 0 74.1 76 185.1 78.7 V 700.5 Z" />
			<path class="color first-seven" fill="#a5b052" d="M 362.6 700.5 c 0 0 -115.8 3 -214.5 -91 l 29.4 -30 c 0 0 74.1 76 185.1 78.7 V 700.5 Z" />
			<path class="glow" fill="#a5b052" d="M 170.7 572.1 l -30 30.6 c 0 0 -86.7 -81.4 -91.3 -215.4 h 42 C 91.4 387.3 90 490.7 170.7 572.1 Z" />	
			<path class="color first-eight" fill="#a5b052" d="M 170.7 572.1 l -30 30.6 c 0 0 -86.7 -81.4 -91.3 -215.4 h 42 C 91.4 387.3 90 490.7 170.7 572.1 Z" />			
		</g>
		<g id="second-layer" class="">
			<path class="glow" fill="#eeb553" d="M 107.3 363.3 c 0 0 -0.7 -95.7 74.7 -173 l 46 44.7 c 0 0 -55.3 60 -54.7 128.3 H 107.3 Z" />
			<path class="color second-one" fill="#eeb553" d="M 107.3 363.3 c 0 0 -0.7 -95.7 74.7 -173 l 46 44.7 c 0 0 -55.3 60 -54.7 128.3 H 107.3 Z" />
			<path class="glow" fill="#eeb553" d="M 234 228.9 l -45.3 -46.7 c 0 0 71.3 -72.7 174 -74 v 66 C 362.6 174.3 298 169.6 234 228.9 Z" />
			<path class="color second-two" fill="#eeb553" d="M 234 228.9 l -45.3 -46.7 c 0 0 71.3 -72.7 174 -74 v 66 C 362.6 174.3 298 169.6 234 228.9 Z" />		
			<path class="glow" fill="#9cbab7" d="M 386.6 109.2 c 0 0 95.8 -0.7 173.1 74.7 l -44.7 46 c 0 0 -59.4 -55.3 -128.4 -54.7 V 109.2 Z" />
			<path class="color second-three" fill="#9cbab7" d="M 386.6 109.2 c 0 0 95.8 -0.7 173.1 74.7 l -44.7 46 c 0 0 -59.4 -55.3 -128.4 -54.7 V 109.2 Z" />
			<path class="glow" fill="#9cbab7" d="M 521.2 235.7 l 46.7 -45.4 c 0 0 72.7 71.9 74 173.9 h -66 C 575.9 364.3 580.5 299.7 521.2 235.7 Z" />
			<path class="color second-four" fill="#9cbab7" d="M 521.2 235.7 l 46.7 -45.4 c 0 0 72.7 71.9 74 173.9 h -66 C 575.9 364.3 580.5 299.7 521.2 235.7 Z" />
			<path class="glow" fill="#eb6d4b" d="M 642.1 387.3 c 0 0 0.7 95.9 -74.7 173.2 l -46 -44.8 c 0 0 55.3 -59.4 54.7 -128.4 H 642.1 Z" />
			<path class="color second-five" fill="#eb6d4b" d="M 642.1 387.3 c 0 0 0.7 95.9 -74.7 173.2 l -46 -44.8 c 0 0 55.3 -59.4 54.7 -128.4 H 642.1 Z" />
			<path class="glow" fill="#eb6d4b" d="M 515.4 522 l 45.3 46.7 c 0 0 -71 72.7 -174 74 v -66 C 386.6 576.6 451.4 581.3 515.4 522 Z" />
			<path class="color second-six" fill="#eb6d4b" d="M 515.4 522 l 45.3 46.7 c 0 0 -71 72.7 -174 74 v -66 C 386.6 576.6 451.4 581.3 515.4 522 Z" />
			<path class="glow" fill="#a5b052" d="M 362.6 642.8 c 0 0 -95.8 0.7 -173.1 -74.7 l 44.7 -46 c 0 0 59.4 55.3 128.4 54.7 V 642.8 Z" />
			<path class="color second-seven" fill="#a5b052" d="M 362.6 642.8 c 0 0 -95.8 0.7 -173.1 -74.7 l 44.7 -46 c 0 0 59.4 55.3 128.4 54.7 V 642.8 Z" />
			<path class="glow" fill="#a5b052" d="M 228 516.1 l -46.7 45.3 c 0 0 -72.7 -71.1 -74 -174.1 h 66 C 173.4 387.3 168.7 452.1 228 516.1 Z" />	
			<path class="color second-eight" fill="#a5b052" d="M 228 516.1 l -46.7 45.3 c 0 0 -72.7 -71.1 -74 -174.1 h 66 C 173.4 387.3 168.7 452.1 228 516.1 Z" />			
		</g>
		<g id="third-layer" class="">
			<path class="glow" fill="#9cbab7" d="M 188.6 363.5 c 0 0 3 -153.3 174 -175.3 v 108 c 0 0 -55.5 3.5 -67 67 L 188.6 363.5 Z" />
			<path class="color third-one" fill="#9cbab7" d="M 188.6 363.5 c 0 0 3 -153.3 174 -175.3 v 108 c 0 0 -55.5 3.5 -67 67 L 188.6 363.5 Z" />			
			<path class="glow" fill="#eb6d4b" d="M 386.6 190.4 c 0 0 153.2 2.9 175.2 173.9 h -108 c 0 0 -3.5 -55.4 -67 -66.9 L 386.6 190.4 Z" />
			<path class="color third-two" fill="#eb6d4b" d="M 386.6 190.4 c 0 0 153.2 2.9 175.2 173.9 h -108 c 0 0 -3.5 -55.4 -67 -66.9 L 386.6 190.4 Z" />
			<path class="glow" fill="#a5b052" d="M 560.7 387.4 c 0 0 -3.1 153.2 -174.1 175.2 v -108 c 0 0 55.5 -3.5 67 -67 L 560.7 387.4 Z" />
			<path class="color third-three" fill="#a5b052" d="M 560.7 387.4 c 0 0 -3.1 153.2 -174.1 175.2 v -108 c 0 0 55.5 -3.5 67 -67 L 560.7 387.4 Z" />
			<path class="glow" fill="#eeb553" d="M 362.6 561.4 c 0 0 -153.3 -3.1 -175.3 -174.1 h 108 c 0 0 3.5 55.6 67 67.1 L 362.6 561.4 Z" />			
			<path class="color third-four" fill="#eeb553" d="M 362.6 561.4 c 0 0 -153.3 -3.1 -175.3 -174.1 h 108 c 0 0 3.5 55.6 67 67.1 L 362.6 561.4 Z" />			
		</g>
		<g id="fourth-layer" class="">
			<path class="glow" fill="#9cbab7" d="M 311.1 363.8 c 0 0 8 -44 51.5 -51.5 v 24 c 0 0 -24 8 -25.8 27 L 311.1 363.8 Z" />
			<path class="color fourth-one" fill="#9cbab7" d="M 311.1 363.8 c 0 0 8 -44 51.5 -51.5 v 24 c 0 0 -24 8 -25.8 27 L 311.1 363.8 Z" />
			<path class="glow" fill="#eb6d4b" d="M 386.4 312.9 c 0 0 44 8.4 51.5 51.4 h -24 c 0 0 -8 -23.9 -27 -25.7 L 386.4 312.9 Z" />
			<path class="color fourth-two" fill="#eb6d4b" d="M 386.4 312.9 c 0 0 44 8.4 51.5 51.4 h -24 c 0 0 -8 -23.9 -27 -25.7 L 386.4 312.9 Z" />
			<path class="glow" fill="#a5b052" d="M 438.2 387.1 c 0 0 -7.6 44 -51.6 51.5 v -24 c 0 0 24 -8 25.8 -27 L 438.2 387.1 Z" />
			<path class="color fourth-three" fill="#a5b052" d="M 438.2 387.1 c 0 0 -7.6 44 -51.6 51.5 v -24 c 0 0 24 -8 25.8 -27 L 438.2 387.1 Z" />
			<path class="glow" fill="#eeb553" d="M 362.9 438.9 c 0 0 -44 -7.6 -51.5 -51.6 h 24 c 0 0 8 24.1 27 25.8 L 362.9 438.9 Z" />		
			<path class="color fourth-four" fill="#eeb553" d="M 362.9 438.9 c 0 0 -44 -7.6 -51.5 -51.6 h 24 c 0 0 8 24.1 27 25.8 L 362.9 438.9 Z" />		
		</g>
		<g id="Circulo">
			<circle fill="#385965" cx="375.1" cy="375.2" r="42" />
		</g>
	</svg>	

	<!-- <div class="ppg-first">		
		<div class="parent-group-first">
			<div class="one-yellow">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>	
			<div class="one-blue">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>	
			<div class="one-red">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>	
			<div class="one-green">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>	
		</div>
	</div>	

	<div class="ppg-second">
		<div class="parent-group-second">
			<div class="two-yellow">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="two-blue">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="two-red">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="two-green">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
		</div>	
	</div>

	<div class="ppg-third">
		<div class="parent-group-third">
			<div class="three-blue">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="three-red">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="three-green">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="three-yellow">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
		</div>	
	</div>

	<div class="ppg-fourth">
		<div class="parent-group-fourth">
			<img src="images/trofeu.png" alt="Troféu">
			<div class="four-blue">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="four-red">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="four-green">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
			<div class="four-yellow">
				<img class="pino" src="images/pino.png" alt="Pino">
			</div>
		</div>	
	</div> -->

	<div class="controls groups-to-play">
		<div ng-repeat="group in projector.groups" ng-click="projector.acertar(group.Grupo.codGrupo)">
			<p>Acertar grupo {{group.Grupo.codGrupo}}</p>
		</div>

		<div class="row">
	      <div class="col-md-12 card wrap-card-score">
	        <h3 class="title">Grupos a jogar</h3>
	        <!-- <button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button> -->
	        <div class="groups-box">
	          <div class="group-box" ng-repeat="group in projector.groups">
	            <div class="group-box-name">
	              <span class="group-icon"></span>
	              <span class="group-name">{{ group.Grupo.nmGrupo }}</span>
	              <div class="group-score">{{ group.Acertos }}pts.</div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>

	<div class="bds">
		<a href="http://bolodesal.com.br" target="_blanck"><img src="images/bolo-de-sal.png" alt="Bolo de Sal Studio"></a>
	</div>

	<div class="question-content question-close">
		<div class="bar">
			
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="col-md-12 card wrap-card-question">
					<h3 class="title">Pergunta Atual</h3>
					<button class="fullscreen"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
					<div class="content-question-theme">
						<div class="content-question">
							<p class="question">{{ controlPanel.questions.current.textoQuestao }}</p>
						</div>
						<p class="theme">Assunto: {{ controlPanel.questions.current.codAssunto }}</p>
					</div>
					<div class="groups-box">
						<div class="group-box-name" ng-repeat="groupInfo in controlPanel.groupsInfo">
							<span class="group-icon"></span>
							<span class="group-name">{{ groupInfo.Grupo.nmGrupo }}</span>
						</div>
					</div>
					<span class="time">1:20</span>
				</div>
			</div>
		</div>

	</div>

	<div class="modal-question modal-hide">
		<div class="card">
			<img src="images/acerto.png" alt="Acertou">
			<p class="hit-question">Resposta Certa</p>
		</div>
	</div>

	<div class="modal-question modal-hide">
		<div class="card">
			<img src="images/erro.png" alt="Errou">
			<p class="error-question">Resposta Errada</p>
		</div>
	</div>

	<div class="modal-winner modal-hide">
		<img src="images/estrela.png" alt="Estrela">

		<div class="card">
			<img src="images/trofeu.png" alt="Troféu">
			<p>Campeão</p>
			<div class="winner wrap-card-question">
				<div class="groups-box">
					<div class="group-box-name" ng-repeat="group in projector.groups" ng-class="{current: projector.currentGroupInfo.Grupo.codGrupo == group.Grupo.codGrupo}">
						<span class="group-icon"></span>                                 
						<span class="group-name" title="{{group.Grupo.nmGrupo}}">{{ group.Grupo.nmGrupo }}</span>
					</div>
				</div>
			</div>
		</div>

		<img src="images/estrelaInvertida.png" alt="Estrela Invertida">
	</div>
</div>